header
  div.logo
    span.c Libre
    span.n Read

  div.user
    if !user
        a(href='/login') Login
        a(href='/signup') Create Account
    else
      if user.profile.picture
        img(src=user.profile.picture)
      else
        img(src=user.gravatar(60))
      span.profile= user.profile.name || user.email || user.id
      div.p-dropdown
        a(href='/account') My Account
        a(href='/logout') Logout

      div.upload-books Upload new books
      form#uploadForm(enctype='multipart/form-data', action='/api/upload', method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='file', id='uploadFile' name='userBooks', multiple)
        input(type='submit', id="uploadFileSubmit" value='Upload books', name='submit')
        span#status
