extends layout

block content
  div.library
    each book in books
      a(href=book[0].bookPath, class='book-link')
        img(src=book[0].coverPath, class='book-cover')
  iframe(src='', id='bookFrame')
