body {
  background: #F3F3F3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: white;
  border-bottom: 1px solid #D0D0D0;
  padding: 0 50px; }

.logo {
  float: left;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 17px;
  padding-top: 8px; }
  .logo span.c {
    color: #328F7D; }
  .logo span.n {
    color: #525252; }

.user {
  float: right; }
  .user a {
    float: left;
    color: #444;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 8px; }
    .user a:hover {
      text-decoration: underline; }
    .user a:last-child {
      margin-right: 0; }
  .user img {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    border-radius: 100%; }
  .user span.profile {
    float: left;
    margin: 11px 0 0 5px;
    cursor: pointer; }
  .user .p-dropdown {
    display: none;
    background: white;
    margin-top: 40px;
    padding: 10px 20px; }
    .user .p-dropdown a {
      float: none;
      display: block;
      margin: 0 0 10px 0;
      padding: 0; }
      .user .p-dropdown a:last-child {
        margin-bottom: 0; }

.upload-books {
  float: left;
  margin-right: 50px;
  background: #e4853a;
  color: white;
  margin-top: 3px;
  padding: 7px 10px;
  border-radius: 2px;
  cursor: pointer; }

.library {
  padding: 50px; }
  .library .book-link {
    float: left;
    margin-right: 50px; }
    .library .book-link:last-child {
      margin-right: 0; }
    .library .book-link .book-cover {
      width: auto;
      height: 150px; }

#bookFrame {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  height: 100%; }
